#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-bar {
  height: 100px;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    gap: 20px;

    .sortby-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;

    #register,
    #connect {
      width: 100px;
    }
  }

  #logo-vinted {
    max-width: 120px;
    height: auto;
    margin: 0 0 0 10px;
  }
  #search {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: solid 1px gray;
    padding: 10px;
  }

  #register,
  #connect {
    height: 40px;
    width: 80px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
  }

  #deconnect {
    background: #c2175b;
    border: solid 1px #e5a1ba;
    border-radius: 10px;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
  }

  #sell {
    height: 40px;
    width: 100px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    background: #027881;
    color: white;
  }
}
nav::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 100px;
  z-index: 1000;
  border-top: 1px solid black;
}

.heroe-container {
  background-image: url("./assets/heroe_vinted.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
  position: relative;
}

.heroe-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  background: white;
  height: 250px;
  width: 400px;
  top: 25%;
  left: 5%;
  color: black;

  p {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 20px;
  }

  #start-selling {
    font-size: 1rem;
    font-weight: bold;
    width: 360px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background: #027881;
    color: white;
    height: 40px;
  }
}

.feed-actu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;

  .feed-actu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    .feed-grid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;

      height: 500px;
      width: 245px;

      margin: 20px 0;

      #product_image {
        height: 300px;
        width: 240px;
      }

      .feed-grid-details {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;

        p {
          margin: 0 5px;
          font-size: 0.8rem;
          color: grey;
        }
      }

      .feed-grid-seller {
        display: flex;
        justify-content: left;
        align-items: center;

        #account_avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }

        p {
          display: flex;
          justify-items: left;
          padding: 0 20px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .navigation-bar {
    justify-content: center;
  }
  .range-slider,
  #checkbox,
  label {
    display: none;
  }
}

@media (max-width: 750px) {
  #search {
    display: none;
  }
}
